<% include header %>
<!-- Page Content -->
    <div class="container" style="margin-top:100px;" >


    <% if (cart.items.length > 0) { %>
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">
                <h3>Shopping cart</h3>
                <p>You have <%= cart.items.length; %> items in your cart.</p>
                <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Product</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th colspan="2">Total</th>
                  </tr>
                </thead>
                <tbody>   
                <% for ( var i=0; i< cart.items.length; i++) {
                    var item = cart.items[i];
                %>
                  <tr> 
                    <td><a href="/item/<%= item.id; %>"><img src="<%= item.images[0]; %>" alt="<%=  item.name ; %>" style="width:32px;"></a></td>
                    <td>
                        <a href="/item/<%= item.id; %>"><%= item.name; %></a>

                        <div>
                            <%  if (item.has_variants === true) { %>

                                    <% for (var v_name in item.variantsDefinition){ %>
                                        <span class="label label-primary" style="margin-right:5px">
                                        <%= item.variant[v_name] %>
                                    </span>
                                    <% } %>
                            <% } %>
                            
                        </div>
                    </td>
                    <td>
                        <input type="number" 
                                id="<%= "quantity_"+item.id+"_"+item.variant_id; %>"
                                class="form-control"
                                value="<%= item.quantity; %>">
                    </td>
                    <td><%=  item.price; %></td>
                    <td><%= (item.price * item.quantity); %></td>
                    <td><a href="#" class="btn btn-danger removeButton" data-product-id="<%= item.product_id; %>" data-variant-id="<%= item.variant_id; %>"><i class="fa fa-trash-o"></i></a></td>
                  </tr>
              <% } %>
                </tbody>
              </table>
            </div>

            <div class="row">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-primary" id="updateCartButton">Update cart</button>
                    <a href="/checkout" class="btn btn-success btn-lg">Checkout</a>
                </div>
               
            </div>

                
                
            </div>

        </div>
    <% } else { %>
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2">
                 <h4 style="text-align:center;">Your cart is empty :(</h4>
             </div>
        </div>
    <% } %>
    </div>
    <!-- /.container -->

   
    <% include scripts %>
    <!-- /.container -->
    <script type="text/javascript">
        var cart = <%- JSON.stringify(cart) %>;
        
        function updateCart() {
            var payload = [];
            cart.items.forEach(function(item){
                payload.push({
                    product_id : item.product_id,
                    variant_id : item.variant_id,
                    quantity : Number($("input#quantity_"+item.product_id+"_"+item.variant_id).val())
                })
            })
            marketcloud.carts.update(cart.id,payload,function(err,data){
                if (err)
                    alert("An error has occurred.")
                else
                    alert("Cart updated")
            })
        }

        $("#updateCartButton").click(updateCart);

        $(".removeButton").click(function(e){
            var btn = $(e.target);
            var product_id = btn.data('product-id');
            var variant_id = btn.data('variant-id');

            var payload = [{
                product_id : product_id,
                variant_id : variant_id
            }]
            
            marketcloud.carts.remove(cart.id,payload,function(err,data){
                if (err)
                    return alert("An error has occurred");
                alert("Cart updated");
                window.location.reload()

            })
        })
       
    </script>

<% include footer %>