<% include header %>

    <!-- Page Content -->
    <div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2><%= product.name %></h2>
        </div>
    </div>
    <div class="row">

            <div class="col-md-4 col-md-offset-2">
                <div class="thumbnail">
                    <% if (product.hasOwnProperty('images')) { %>
                            <img src="<%= product.images[0] %>" alt="" style="max-width:100%;">
                            <% } else {%>
                                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97200&w=400&h=800" alt="" style="max-width:100%;">
                    <% } %>
                </div>
                <div class="product-thumbnails row">
                    <% for (var i=0; i< product.images.length; i++) { %>
                    <div class="col-xs-4">
                        <div class="thumbnail">
                            <img src="<%= product.images[i] %>" alt="" style="max-width:100%;">
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="col-md-4">

                <div class="product-controls">
                    <h3 class="price text-center">€ <%= product.price %></h3>
                    <% for(var k in product.variantsDefinition) { %>
                        <div><b><%= k %></b></div>
                        <div class="form-group">
                        <select class="form-control" id="variant_<%= k %>">
                            <% for(var i=0; i< product.variantsDefinition[k].length;i++) { %>
                            <option value="<%= product.variantsDefinition[k][i] %>"><%= product.variantsDefinition[k][i] %></option>
                        <% } %>
                        </select>
                        </div>
                    <% } %>
                    <button class="btn btn-block btn-success" id="addToCartButton">Add to cart</button>
                </div>

                
                

            </div>


        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2">
                <h3>Description</h3>
                <% if (product.description) { %>
                <div><%- product.description %></div>
                <%} else {%>
                <div>No description available</div>
                <%}%>
            </div>
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr><th>Attribute</th><th>Value</th></tr>
                    </thead>
                    <tbody>
                        <% for (var k in product) { 
                            var unwanted = [
                            'id', 'product_id', 'stock_type', 'stock_level', 'variant_id', 'display_price','price','name'
                            ]
                            if ('object' !== typeof product[k] && unwanted.indexOf(k) < 0) {
                        %>
                        <tr><td><%= k %></td><td><%= product[k] %></td></tr>
                        <% }
                        }
                        %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

   
    
    <% include scripts %>
   
<script type="text/javascript">
    var product = <%- JSON.stringify(product) %>;
    var cart = <%- JSON.stringify(cart) %>;


    function addToCart() {
        var payload = {
            product_id: product.id,
            quantity: 1
        }
        var btn = $("#addToCartButton");
        btn.attr("disabled","disabled")

        btn.html("Adding to cart")
        
        if (product.has_variants) {
            
            payload.options = {};

            for (var variant_name in product.variantsDefinition) {
                var value = $("select#variant_" + variant_name).val();
                payload.options[variant_name] = value;
            }
        }

        
        
        
        marketcloud.carts.add(cart.id, [payload], function(err, data) {
            if (err) {
                console.log(err)
                alert("An error has occurred");
            } else{
                alert("Item added to cart")
                location.reload()
            }
        })
    }


    $(document).ready(function(){
        $("#addToCartButton").click(addToCart)
    })

</script>
<% include footer %>