<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Your Store</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% for (var i=0; i< categories.length; i++) { 
                var category = categories[i];
            %>
              <li><a href="/search?category_id=<%= category.id; %>"><%= category.name; %></a></li>
            <% } %>
            
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
       <ul class="nav navbar-nav navbar-right">
       <% if ('undefined' !== typeof user) { %>
        <li><a href="#"><%= user.email %></a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
        <li class="dropdown hidden-xs hidden-sm ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span><%= cart.items.length; %> Cart<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
            <li><b class="block text-center">Your cart</b></li>
            <li class="divider"></li>
            <% if (cart.items.length === 0) { %>
              <li>Your cart is still empty :(</li>
            <% } %>
            <%
              for (var j = 0; j< cart.items.length; j++) { 
                var item = cart.items[j];
            %>
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="<%= item.images[0]; %>" style="max-width:50px;" />
                        <span class="item-info">
                            <span><%= item.name; %></span>

                            <span><%= item.price; %>€</span>
                            <span>x <%= item.quantity; %></span>
                        </span>
                    </span>
                   <!--  <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span> -->
                </span>
              </li>
              <% } %>
              
              
              <li class="divider"></li>
              <li><a class="text-center" href="/cart">View Cart</a></li>
          </ul>
        </li>
        <li class="hidden-lg hidden-md">
          <a href="/cart">
            <span class="glyphicon glyphicon-shopping-cart"></span> <%= cart.items.length; %> Cart</span>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>